@font-face {
    font-family: 'als_rublregular';
    src: url('../fonts/rouble-webfont.woff2') format('woff2'),
         url('../fonts/rouble-webfont.woff') format('woff'),
         url('../fonts/rouble-webfont.svg#als_rublregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
html{
	height:100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
body{
	margin:0;
	padding:0;
	height:100%;
	color:#bdbdbd;
	font:14px/16px 'Roboto', "TimesNewRoman", Verdana, sans-serif;
	background:#fff;
	min-width:320px;
}
img{
	border-style:none;
	vertical-align:top;
}
a{
	color:#6b6b6b;
	outline:none;
	text-decoration:underline;
}
a:hover{text-decoration:none}
*{
	outline:none;
	font-style:normal;
	font-weight:normal;
}
header,
nav,
section,
article,
aside,
footer,
figure,
menu,
dialog{
	display:block;
}
input[type="submit"],
input[type="reset"]{
	cursor:pointer;
}
input[type="submit"],
input[type="reset"],
input[type="text"],
input[type="email"],
input[type="password"]{
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	-webkit-border-radius:0;
}
.sect-list-title {
	margin: 30px 0 10px 0 !important;
}
.rub{
	font-family:'als_rublregular';
	text-transform:none;
}
.btn{
	display:inline-block;
	vertical-align:top;
	text-decoration:none;
	padding:8px 38px;
	cursor:pointer;
	border:none;
	background:#ff0066;
	color:#fff;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;
	-webkit-transition:all ease .2s;
	-o-transition:all ease .2s;
	transition:all ease .2s;
	font-size:18px;
	line-height:20px;
}
.btn:active{
	-webkit-transform:translate(0, 1px);
	-ms-transform:translate(0, 1px);
	-o-transform:translate(0, 1px);
	transform:translate(0, 1px);
}
#wrapper{
	overflow:hidden;
}
.container{
	max-width:980px;
	margin:0 auto;
	padding:0 20px;
}
.header{
	background:#424242;
	position:relative;
	z-index:200;
}
.header .header-content{
	position:relative;
	padding:0 0 0 0;
	z-index:100;
}
.header .header-content:after{
	content:"";
	display:block;
	clear:both;
}
#nav{
	max-width:800px;
	float:left;
}
#nav ul a{
	-webkit-transition:all ease .2s;
	-o-transition:all ease .2s;
	transition:all ease .2s;
}
#nav > ul{
	padding:0;
	margin:0 -9px;
	list-style:none;
	letter-spacing:-4px;
}
#nav > ul > li{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
	padding:0 0;
	position:relative;
	z-index:1;
}
.header.big-open #nav > ul > li,
.header.open #nav > ul > li{
	opacity:0;
	z-index:-99999;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.header.big-open #nav > ul > li.has-drop{
	opacity:1;
	z-index:1;
}
.header.big-open .inner-holder{
	opacity:0;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
#nav > ul > li.has-drop:after{
	content:'';
	position:absolute;
	display:block;
	left:-99999px;
	right:0;
	top:0;
	height:50px;
	background:#383838;
	z-index:-1;
	cursor:pointer;
	-webkit-transition:background-color .2s ease;
	-o-transition:background-color .2s ease;
	transition:background-color .2s ease;
	pointer-events:none;
}
/*.header.open #nav > ul > li.has-drop:after{
	display:none;
}*/
#nav > ul > li.has-drop:before,
#nav > ul > li.has-drop2:before{
	content:'';
	position:absolute;
	top:50%;
	margin:-7px 0 0 0;
	right:8px;
	width:14px;
	height:14px;
	background:url(../images/arrow-down-small-2.svg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	cursor:pointer;
}
#nav > ul > li.has-drop2:before{
	background:url(../images/arrow-down-small-3.svg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	cursor:pointer;
}
#nav > ul > li.has-drop:hover:before,
#nav > ul > li.has-drop2:hover:before{
	background:url(../images/arrow-down-small-2.svg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
}
#nav > ul > li.has-drop2:before{
	margin-top:-6px;
}
#nav > ul > li.has-drop.open:before{
	background:url(../images/close-icon-2.svg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
    width:18px;
    height:18px;
    margin-top:-9px;
}
#nav > ul > li.has-drop.open:hover:before{
	background:url(../images/close-icon-2.svg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
    width:18px;
    height:18px;
    margin-top:-9px;
}
#nav > ul > li.has-drop:hover:after,
#nav > ul > li.has-drop.open:after{
	background-color:#ff0066;
}
#nav > ul > li > a{
	display:block;
	padding:15px 30px 15px 18px;
	text-decoration:none;
	color:#bdbdbd;
	font-size:15px;
	line-height:20px;
}
#nav > ul > li.has-drop > a{
	text-transform:uppercase;
	font-size:17px;
	line-height:20px;
}
#nav > ul > li.active > a{
	color:#fff;
}
#nav > ul > li > a:hover{
	color:#fff;
}
#nav > ul > li.has-drop:hover,
#nav > ul > li.has-drop.open{
	background:#ff0066;
	z-index:100;
}
#nav > ul > li.has-drop:hover > a{
	color:#fff;
}
/*dropdown start*/
#nav a{text-decoration:none;}
#nav ul ul a:hover{text-decoration:underline;}
#nav .drop{
	position:absolute;
	top:-9999px;
	left:0;
	opacity:0;
	min-width:100%;
	background:#383838;
	-webkit-transition:opacity ease .2s;
	-o-transition:opacity ease .2s;
	transition:opacity ease .2s;
}
#nav li.has-drop2 .drop{
    white-space:nowrap;
}
#nav .has-drop .drop{
	left:0;
	-webkit-transition:all 1s ease;
	-o-transition:all 1s ease;
	transition:all 1s ease;
	margin-left:-99999px;
	padding-left:99999px;
	margin-right:-99999px;
	padding-right:99999px;
	padding-bottom:200px;
	opacity:0;
	top:-1999px;
	z-index:-1;
    width:1020px;
}
#nav li.has-drop2:hover > .drop,
#nav li.has-drop2.open > .drop{
	opacity:1;
	top:99%;
	left:0;
}
#nav li.open > .drop{
	opacity:1;
	top:100%;
	left:0;
}
#nav li.has-drop.open > .drop{
	height:99999px;
}
#nav ul .drop > .menu-holder{
	padding: 37px 0 0 25px;
	margin: 0 -10px;
	list-style: none;
}
#nav ul .drop > .menu-holder .float-holder{
	width:16.6%;
	display:inline-block;
	vertical-align:top;
	padding:0 10px;
	margin:0 0 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
#nav ul .has-drop2 .drop{
	margin-left:0;
	margin-right:0;
	padding-left:0;
	padding-right:0;
	padding-bottom:3px;
	background:#424242;
}
#nav ul .has-drop2 .drop ul{
	padding:0;
	margin:0;
	list-style:none;
}
#nav ul .has-drop2 .drop ul li{
	padding:10px 20px;
	display:block;
	-webkit-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
}
#nav ul .has-drop2 .drop ul li:hover{
	background:#ff0066;
}
#nav ul .has-drop2 .drop ul li:hover a{
	color:#fff;
}
#nav ul .has-drop2 .drop > ul>li a{
	font-size:16px;
	line-height:18px;
	color:#bdbdbd;
	display:block;
	-webkit-transition:all .2s ease;
	-o-transition:all .2s ease;
	transition:all .2s ease;
	text-decoration:none;
}
#nav ul .drop > ul ul{
	padding:0;
	margin:0;
	list-style:none;
}
#nav li.has-drop .drop-list li{
	display:block;
	vertical-align:top;
	padding:3px 0;
}
#nav li.has-drop .drop-list li a{
	color:#757575;
	font-size:16px;
	line-height:18px;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	text-decoration:none;
}
#nav li.has-drop .drop-list li.title a{
	font-size:18px;
	line-height:20px;
	color:#bdbdbd;
}
#nav li.has-drop .drop-list li.title a:hover{
	color:#bdbdbd;
}
#nav li.has-drop .drop-list{
    padding:0;
    margin:0;
    list-style:none;
}
#nav li.has-drop a.title{
    font-size: 18px;
    line-height: 20px;
    color: #fff;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    text-decoration: none;
    display: block;
}
#nav li.has-drop .float-holder a.title{
    color: #bdbdbd;
    font-size: 18px;
    line-height: 20px;
    margin-bottom:6px;
    display:inline-block;
}
#nav li.has-drop .drop-list li a:hover{
	color:#ff0066;
}
#nav li.has-drop .drop-list li.hidden a{
	opacity:0;
	z-index:-1000;
	text-decoration:none!important;
	cursor:default;
}
/*dropdown end*/
.header .inner-holder{
	float:right;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.header .inner-holder:after{
	display:block;
	content:'';
	clear:both;
}
.header-form{
	padding:0;
	margin:0;
	border:none;
	position:absolute;
	top:0;
	right:0;
	opacity:0;
	background:#424242;
	width:0;
	-webkit-transition:all .8s ease-out;
	-o-transition:all .8s ease-out;
	transition:all .8s ease-out;
	z-index:-99999;
}
.header.open .header-form{
	width:100%;
	display:block;
	-webkit-transition:all .8s ease-out;
	-o-transition:all .8s ease-out;
	transition:all .8s ease-out;
	opacity:1;
	z-index:100;
}
.header.open .inner-holder .search .btn-search{
	opacity:0;
}
.header.open .inner-holder .basket{
	opacity:0;
}
.header .search{
	padding:12px 0;
	display:inline-block;
	width: 24px;
	margin: 0 16px 0 0;
	height:24px;
}
.header .basket{
	display:inline-block;
	padding:12px 38px 12px 24px;
	/*width:25px;*/
}
.header .basket .much{
	position:absolute;
	top: 14px;
	right: 16px;
	display:block;
	border-radius:50%;
	font-size:13px;
	color:#fff;
	background:#ff0066;
	width: 20px;
	height: 20px;
	line-height: 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	text-align:center;
	vertical-align:middle;
}
.header .basket .btn-basket{
	display:block;
	width:26px;
	height:26px;
	background-image:url(../images/shopping-cart.svg);
	-webkit-background-size:100% 100%;
	background-size:100% 100%;
	text-indent:-9999px;
}
.header .basket.open{
	background:#ff0069;
}
.header .basket .btn-basket:hover,
.header .basket.open .btn-basket{
	background-image:url(../images/shopping-cart_white.svg);
}
.header .search .btn-search{
	display:block;
	width:100%;
}
.header .search .btn-search:hover{
	text-indent:-9999px;
	background:url(../images/search-icon2.svg) 50% 50% no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.header-form fieldset{
	margin:0;
	padding:0;
	border:none;
	background:none;
	display:table;
	position:relative;
	max-width:914px;
}
.header-form .row-btn{
	display:table-cell;
	position:relative;
	vertical-align:middle;
	overflow:visible;
	padding:0 4px 0 40px;
}
.header-form .row-input{
	display:table-cell;
	width:100%;
	vertical-align:top;
	position:relative;
}
.header-form .btn{
	width:24px;
	height:auto;
	background:url(../images/search-icon.svg) 50% 50% no-repeat;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:2px 38px;
}
.header-form .text{
	background:#616161;
	border:none;
	height:50px;
	color:#bdbdbd;
	width:100%;
	overflow:hidden;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 65px 0 20px;
	color:#bdbdbd;
	font-size:18px;
	line-height:20px;
}
.header-form input:focus::-webkit-input-placeholder{color:transparent;}
.header-form input:focus:-moz-placeholder{color:transparent;}
.header-form input:focus:-ms-input-placeholder{color:transparent;}
.header-form input:focus::-moz-placeholder{color:transparent;}

.header-form input::-webkit-input-placeholder{color:#bdbdbd;opacity:1;}
.header-form input::-webkit-input-placeholder{color:#bdbdbd;opacity:1;}
.header-form input:-moz-placeholder{color:#bdbdbd;opacity:1;}
.header-form input::-moz-placeholder{color:#bdbdbd;opacity:1;}
.header-form .close{
	text-decoration:none;
	color:#b9b9b9;
	position:absolute;
	top:50%;
	right: 24px;
	width: 23px;
	margin: -11px 0 0 0;
}
.header-form .close:hover{
	background:url(../images/close-icon-2.svg) no-repeat;
	-webkit-background-size:cover;
	background-size:cover;
	text-indent:-9999px;
	right:24px;
}
.help-list{
	padding:11px 0 18px 0;
	margin:0;
	list-style:none;
	/*display:none;
	position:absolute;*/
	top:100%;
	left:0;
	width:100%;
	background:#bdbdbd;
	z-index:1000;
}
.help-list.open{
	display:block;
}
.help-list li{
	color:#616161;
	font-size:18px;
	line-height:20px;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.help-list li a {
	display: inline-block;
	padding:7px 20px;
	width: 100%;
	color:#616161;
	font-size:18px;
	line-height:20px;
	text-decoration: none;
}

.help-list li:hover {
	background:#ff0066;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	cursor:pointer;
	color:#fff;
}
.help-list li:hover a {
	font-weight: normal;
	color:#fff;
}
.help-list b {
	color:#fff;
	font-weight: normal !important;
}
.header .basket-list{
	display:none;
	padding:0;
	margin:0;
	list-style:none;
	position:absolute;
	top:97%;
	right:0;
	color:#000;
	background:#fff;
	border:2px solid #ff0069;
	opacity:0;
	z-index:-10000;
	-webkit-transition:opacity .4s ease;
	-o-transition:opacity .4s ease;
	transition:opacity .4s ease;
}
.header .basket.open .basket-list{
	opacity:1;
	z-index:10;
	display:block;
}
.header .basket-list li{
	border-bottom:1px solid #e0e0e0;
	padding:16px 18px 16px 10px;
}
.header .basket-list li:nth-last-child(2){
	border:none;
}
.header .basket-list .content-holder{
	display:table;
	width:100%;
}
.header .basket-list .img{
	display:table-cell;
	width:110px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:middle;
	text-align:center;
}
.header .basket-list .img img{
	display:inline-block;
	vertical-align:middle;
    max-width:100%;
    max-height:100%;
}
.header .basket-list .text{
	display:table-cell;
	vertical-align:top;
	font-size:16px;
	line-height:22px;
	color:#212121;
	text-decoration:none;
}
.header .basket-list .text span{
	display:block;
}
.header .basket-list .cost{
	display:table-cell;
	vertical-align:top;
	font-size:24px;
	line-height:26px;
	color:#212121;
	padding:0 32px 0 70px;
}
.header .basket-list .cost span{
	font-family:'als_rublregular';
}
.header .basket-list .close{
	display:table-cell;
	vertical-align:top;
	float:right;
	width:25px;
	padding:0 0 0;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	vertical-align:top;
    cursor: pointer;
}
.header .basket-list .close:hover{
	opacity:0.7;
}
.header .basket-list li.total{
	background:#f5f5f5;
	padding-left:119px;
	padding-top:33px;
	padding-bottom:23px;
}
.header .basket-list li.total span{
	display:inline-block;
	font-size:18px;
	line-height:20px;
	color:#212121;
	vertical-align:middle;
}
.header .basket-list li.total span span{
	color:#ff0066;
	font-size:24px;
	line-height:26px;
}
.header .basket-list li.total span span span{
	font-family:'als_rublregular';
}
.header .basket-list li.total .btn{
	margin-left:37px;
	border:1px solid #f5f5f5;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:middle;
}
.header .basket-list li.total .btn:hover{
	color:#fff;
	background:green;
}
.header .bottom-content{
	background:#fafafa;
	margin-left:-99999px;
	padding-left:100013px;
	margin-right:-99999px;
	padding-right:99999px;
	overflow:hidden;
	padding-top:39px;
	padding-bottom:16px;
}
.header.snow .bottom-content{
	background: rgb(144,202,249);
	background: -moz-linear-gradient(top,  rgb(144,202,249) 0%, rgb(225,245,254) 100%);
	background: -webkit-linear-gradient(top,  rgb(144,202,249) 0%,rgb(225,245,254) 100%);
	background: linear-gradient(to bottom,  rgb(144,202,249) 0%,rgb(225,245,254) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#90caf9', endColorstr='#e1f5fe',GradientType=0 );
	overflow:hidden;
}
.header.snow .bottom-content:after{
	content:'';
	width:1255px;
	height:117px;
	position:absolute;
	bottom:0;
	height:137px;
	left:50%;
	margin-left:-628px;
	background:url(../images/snow_bg.png) repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	animation: snowing 60s linear infinite;
}
@keyframes snowing{
	0%{
		background-position:0 0;
	}
	100%{
		background-position:0 10000%;
	}
}
.header.snow .bottom-content > *{
	position:relative;
	z-index:10;
}
.logo{
	display:block;
	width:160px;
	height:60px;
	float:left;
	padding:0 21px 0 0;
	z-index:100;
}
.logo a{
	display:block;
	height:100%;
	text-indent:-9999px;
	overflow:hidden;
	background:url(../images/logo-ishop-rgb.svg) no-repeat;
}
.snow .logo a{
	background:url(../images/logo-ishop-christmas-rgb.svg) no-repeat;
}
.header .phone-link{
	display:block;
	float:right;
	color:#616161;
	font-size:50px;
	line-height:52px;
	text-decoration:none;
	font-weight:300;
	overflow:hidden;
	margin:9px 11px 0 0;
}
.header .phone-link span{
	font-size:25px;
}
.header .contacts-list{
	padding:41px 0 0 0;
	margin:0;
	list-style:none;
	overflow:hidden;
	letter-spacing:-4px;
	float:left;
}
.header .contacts-list li{
	display:inline-block;
	letter-spacing:0;
	padding:0 17px 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:bottom;
}
.header .contacts-list a{
	display:block;
	font-size:13px;
	line-height:15px;
	color:#bdbdbd;
	margin:0 0 6px 0;
}
.header .contacts-list a.phone{
	text-decoration:none;
	color:#616161;
}
.header .contacts-list a.phone span{
	font-size:20px;
	line-height:22px;
}
.header .contacts-list span.date{
	display:block;
	color:#bebebe;
	font-size:11px;
	line-height:13px;
	color:#bdbdbd;
}
.bxslider{
	padding:0;
	margin:0;
	list-style:none;
	color:#000;
	text-align:center;
}
.bxslider .content-holder{
	position:relative;
	z-index:10;
	text-align:center;
}
.bxslider .content-holder h2{
	text-transform: uppercase;
	margin: 42px 0 11px 0;
	font-weight: 900;
	font-size: 56px;
	letter-spacing: 0.05em;
	line-height: 62px;
}
.bxslider .content-holder strong{
	text-transform: uppercase;
	font-weight: 900;
	font-size: 56px;
	letter-spacing: 0.05em;
	line-height: 62px;
}
.bxslider .content-holder h3{
	margin: 0 0 -22px 22px;
	color: #5d5d5d;
	font-size: 34px;
	line-height:36px;
	font-weight: 300;
}
.bxslider h2 span{
	display:inline-block;
	vertical-align:top;
}
.bxslider h2 span.img{
	margin:-5px 0px 0 12px;
}
.slider-section .bxslider img{
	max-width:1280px;
	display:block;
	margin:0 auto;
}
.bx-controls{
	margin-top:24px;
}
.bx-pager{
	text-align:center;
}
.bx-pager-item{
	display:inline-block;
	padding:0 7px;
}
.bx-pager-link{
	display:block;
	text-indent:-9999px;
	text-decoration:none;
	width:13px;
	height:13px;
	background:#bdbdbd;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
}
.bx-pager-link.active{
	background:#ff0066;
}
.day-section{
	padding:75px 0 20px 0;
	position:relative;
}
.day-section h2{
	font-size:28px;
	line-height:30px;
	color:#212121;
	text-transform:uppercase;
	font-weight:normal;
	margin:0 0 35px;
	padding:0 0 0 17px;
}
.day-section h2 span{
	display:inline-block;
	color:#757575;
}
.day-section .content-holder{
	overflow:hidden;
	position:relative;
}
.day-section .img-holder{
	float:left;
    width:520px;
	padding:0 40px 0 0;
    text-align:center;
}
.day-section .img-holder img{
    max-width:364px;
    max-height:100%;
    display:block;
    margin:0 auto;
}
.day-section .content{
	overflow:hidden;
}
.day-section .content .inner{
	overflow:hidden;
	position:relative;
	margin:0 0 36px;
}
.day-section .content .inner span{
	display:inline-block;
	font-size:28px;
	line-height:30px;
	color:#fff;
	text-transform:uppercase;
	background:#ff0066;
	float:right;
	padding:10px 22px;
}
.day-section .content h3{
	margin:0 0 39px;
	font-size:28px;
	line-height:32px;
	color:#212121;
	font-weight:normal;
}
.day-section .content h4{
	font-size:45px;
	line-height:47px;
	color:#212121;
	font-weight:normal;
	margin:0 0 32px;
}
.day-section .content h4 span{
	font-family:'als_rublregular';
}
.day-section .content h4 em{
	color:#757575;
	font-size:28px;
	line-height:30px;
	text-decoration:line-through;
	padding-left:8px;
}
.day-section .content .btn{
	font-size:28px;
	line-height:30px;
	color:#ff0066;
	border:3px solid #ff0066;
	background:#fff;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:20px 10px;
	text-align:center;
}
.day-section .content .btn:hover{
	color:#fff;
	background:#ff0066;
}
.day-section .content .btn-holder{
	margin:0 0 54px;
}
.day-section .content span.social-text{
	color:#757575;
	display:block;
	font-size:18px;
	line-height:24px;
	text-align:left;
	margin:0 0 15px;
}
.day-section .content .social-list{
	padding:0;
	margin:0 -4px;
	list-style:none;
	font-size:0;
	line-height:0;
}
.day-section .content li{
	display:inline-block;
	padding:0 4px;
}
.day-section .content li a{
	display:block;
	width:42px;
	height:42px;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.day-section .content li a:hover{
	opacity:.8;
}
.products-section{
	padding:17px 0 0 0;
	position:relative;
}
.products-section .title-holder a{
	font-size:18px;
	line-height:20px;
	color:#424242;
	text-decoration:none;
	text-transform:uppercase;
	display:inline;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	margin:0 19px;
	position:relative;
}
.products-section .title-holder a:after{
	content:'';
	position:absolute;
	bottom:-1px;
	left:0;
	right:0;
	width:100%;
	height:2px;
	background:url(../images/bd.jpg) #fff repeat;
}
.products-section .title-holder a:hover{
	color:#757575;
}
.products-section .title-holder .active a:after{
	display:none;
}
.products-section .title-holder{
	margin:0 0 25px -19px;
	padding:0;
	list-style:none;
}
.products-section .title-holder li{
	display:inline-block;
}
.products-section .title-holder a.active{
	border:none;
	color:#757575;
}
.products-slider{
	overflow:visible !important;
	margin:0 0 38px;
	/*border-left:1px solid #e0e0e0;*/
	position:relative;
}
.products-slider:after{
	content:'';
	position:absolute;
	top:20px;
	left:0;
	bottom:70px;
	width:1px;
	background:#e0e0e0;
}
.products-slider .slide{
	border-right:1px solid #e0e0e0;
	border-top:1px solid #e0e0e0;
	/*border-left:1px solid #e0e0e0;*/
	border-bottom:1px solid #e0e0e0;
	text-align:center;
	padding:28px 0px 0;
	position:relative;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.products-slider .slide:hover{
	border-color:#ff0066;
/*	-webkit-box-shadow: 1px 1px 12px 0 rgba(0,0,1,1);
	box-shadow: 1px 1px 12px 0 rgba(0,0,1,1);*/
	z-index:1000;
}
.products-slider .slide:hover > .content{
	border-color:#ff0066;
}
.products-slider .slide > .content{
	padding:0 20px;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.products-slider .slide > .content > a{
	text-decoration:none;
}
.products-slider .slide .new{
	position:absolute;
	top:10px;
	left:0;
	font-weight:500;
	font-size:12px;
	line-height:14px;
	color:#fff;
	text-transform:uppercase;
	display:block;
	background:#7cb342;
	padding:8px 47px 8px 20px;
}
.slick-slide img{
	margin:0 auto;
	max-width: 100%;
    max-height:100%;
}
.products-slider .slide .img{
	margin:0 0 26px;
}
.products-slider .slide h3{
	font-size:14px;
	line-height:16px;
	color:#212121;
	margin:0 0 16px;
	text-align:left;
	font-weight:normal;
	font-style:normal;
}
.products-slider .slide span span{
	font-family:'als_rublregular';
}
.products-slider .slide .old{
	text-decoration: line-through;
	font-size:18px;
	line-height:20px;
	color:#757575;
	display:block;
	margin:0 0 2px;
	opacity:0;
	z-index:-1000;
}
.products-slider .slide .old.show{
	opacity:1;
	z-index:normal;
}
.products-slider .slide .cost{
	font-size:24px;
	line-height:26px;
	color:#212121;
	display:block;
	margin:0 0 3px;
}
.products-slider .slide em{
	font-size:11px;
	line-height:13px;
	display:block;
	color:#ff0066;
	margin:0 0 15px;
}
.products-slider .slide em.will{
	color:#455a64;
}
.products-slider .slide .btn{
	font-size:18px;
	line-height:20px;
	color:#fff;
	width:101%;
	display:block;
	padding:14px 20px;
	text-align:center;
	background:#ff0066;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	position:absolute;
	border:1px solid transparent;
	opacity:0;
	z-index:-10000;
	left:-9999px;
	top:-9999px;
	-webkit-transition:opacity .4s ease;
	-o-transition:opacity .4s ease;
	transition:opacity .4s ease;
/*	-webkit-box-shadow: 1px 6px 12px 0 rgba(0,0,1,.5);
	box-shadow: 1px 6px 12px 0 rgba(0,0,1,.5);*/
}
.products-slider .slide .btn:hover{
	color:#ff0066;
	background:#fff;
}
.products-slider .slide:hover .btn{
	opacity:1;
	z-index:10;
	top: 100%;
	left: -1px;
}
.products-section .text-holder strong{
	font-size:18px;
	line-height:20px;
	display:block;
	margin:0 0 28px;
}
.products-section .text-holder p{
	margin:0 0 24px;
	line-height:24px;
}
.products-section .slick-list{
	padding-bottom:70px;
	margin-bottom:-70px;
	margin-top:-20px;
	padding-top:20px;
}
.slick-arrow{
	text-indent:-9999px;
	background:none;
	border:none;
	width:16px;
	height:26px;
	background:url(../images/botton-swipe-small-l.svg) no-repeat;
	position:absolute;
	top:50%;
	left:-38px;
	z-index:100;
	margin-top:-43px;
	cursor:pointer;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.slick-arrow:hover{
	opacity:.6;
}
.slick-arrow.slick-next {
	background:url(../images/botton-swipe-small-r.svg) no-repeat;
	right:-38px;
	left:auto;
}
.partners-section{
	padding:8px 0 0 0;
}
.partners-section .slick-arrow {
	width:8px;
	height:14px;
	margin-top:-7px;
	left:0;
}
.partners-section .slick-arrow.slick-next{
	left:auto;
	right:0;
}
.partners-section .slide a{
	display:block;
	width:100px;
	margin:0 auto;
}
.partners-slider{
	border-top:1px solid #efefef;
	border-bottom:1px solid #efefef;
	vertical-align:middle;
	padding:15px 60px 15px;
	text-align:center;
}
.partners-section .slide a img{
	display:inline-block;
	vertical-align:middle;
	width: 100%;
}
.footer{
	padding:41px 0 52px 0;
}
.footer .footer-top{
	background:#fafafa;
	margin:0 -99999px 0 -99999px;
	padding:34px 99999px 27px 99999px;
}
.footer-list{
	padding:0;
	margin:0 -10px;
	list-style:none;
	letter-spacing:-5px;
}
.footer-list > .float-holder{
	display:inline-block;
	vertical-align:top;
	padding:0 10px;
	letter-spacing:0;
	margin-bottom:20px;
    width: 16.6%;
}
.footer-list .column-list{
	padding:0;
	margin:0;
	list-style:none;
}
.footer-list .column-list li{
	padding:4px 0;
}
.footer-list .column-list li a{
	font-size:14px;
	line-height:16px;
	color:#bdbdbd;
	display:block;
	text-decoration:none;
}
.footer-list .float-holder a.title{
	color:#424242;
	font-size:18px;
	line-height:20px;
	display:block;
    text-decoration:none;
    padding:4px 0;
}
.footer-list .column-list li a:hover{
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	color:#424242;
}
.footer-list .float-holder a.title:hover{
	color:#424242;
}
.footer-list .column-list li.hidden a{
	opacity: 0;
	z-index: -1000;
	text-decoration: none!important;
	cursor: default;
}
.copyright{
	display:inline-block;
	color:#bdbdbd;
	font-size:11px;
	line-height:13px;
}
.copyright a{
	text-decoration:none;
	color:inherit;
	color:#bdbdbd;
	font-size:11px;
	line-height:13px;
}
.copyright a:hover{text-decoration:underline;}
.footer-bottom{
	padding:33px 0 0 0;
}
.footer-bottom .inner-holder{
	display:table;
	float:right;
	max-width:452px;
	width:100%;
}
.footer-bottom .inner-holder .column{
	display:table-cell;
}
.footer-bottom .inner-holder .column span{
	display:block;
	color:#bdbdbd;
	font-size:11px;
	line-height:13px;
}
.footer-bottom .inner-holder .column span a{
	text-indent:-9999px;
	display:inline-block;
	position:relative;
}
.footer-bottom .inner-holder .column span .go{
	width: 124px;
	height: 14px;
	margin: 0 0 0 10px;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.footer-bottom .inner-holder .column span .go:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:url(../images/alaich-logo-gray.svg) no-repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.footer-bottom .inner-holder .column span .go:hover:after{
	background:url(../images/alaich-logo.svg) no-repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.footer-bottom .inner-holder .column span .do{
	width:66px;
	height:39px;
	margin-top:-18px;
}
.footer-bottom .inner-holder .column span .do:after{
	content:'';
	position:absolute;
	top: -11px;
	right: -20px;
	width:100%;
	height:100%;
	background:url(../images/Aliveit_logo_web-grey.svg) no-repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.footer-bottom .inner-holder .column span .do:hover:after{
	background:url(../images/Aliveit_logo_web-coulor.svg) no-repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
/*404 Page START*/
.error-section{
	padding:96px 0 47px 0;
}
.error-section h1{
	font-size:320px;
	line-height:322px;
	color:#e0e0e0;
	margin:0 0 -11px;
	text-align:center;
	font-weight:normal;
}
.error-section h2{
	font-size:28px;
	line-height:33px;
	color:#212121;
	margin:0 0 30px;
	text-transform:uppercase;
	text-align:center;
	font-weight:normal;
}
.error-section h3{
	font-size:18px;
	line-height:20px;
	color:#ff0066;
	margin:0 0 30px;
	text-align:center;
	font-weight:normal;
}
/*404 Page END*/
/*Catalog Page START*/

.catalog-section{
	padding:0 0 40px;
}
.catalog-section h2{
	font-size:28px;
	line-height:30px;
	color:#424242;
	margin:0 0 14px;
	display:block;
	font-weight:normal;
	text-decoration:none;
	display:inline-block;
}
.catalog-section h2 a{
	text-decoration:none;
	color:#424242;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.catalog-section h2:hover{
	color:#ff0066;
}
.catalog-section h2:hover a{
	color:#ff0066;
}
.catalog-section h2:hover span{
	color:#ff0066;
}
.catalog-section h2 span{
	display:inline-block;
	color:#bdbdbd;
	text-decoration:none;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.catalog-section h1{
	font-size:28px;
	line-height:30px;
	color:#424242;
	margin:0 0 14px;
	display:block;
	text-decoration:none;
	font-weight:normal;
}
.catalog-section h1 span{
	display:inline-block;
	color:#bdbdbd;
}
.catalog-list{
	padding:0;
	margin:0 0 35px;
	list-style:none;
	font-size:0;
	line-height:0;
	letter-spacing:-5px;
}
.isc_brand .catalog-list{
	margin:0;
}
.isc_brand .catalog-list li{
	border-bottom:none;
}
.isc_brand .catalog-list:last-child li{
	border-bottom:1px solid #e0e0e0;
}
.catalog-section .title-holder{
	overflow:hidden;
	margin:0 0 21px;
}
.catalog-section .title-holder h2{
	float:left;
	padding-right:50px;
}
.catalog-section .title-holder h1{
	float:left;
	padding-right:50px;
}
.catalog-section .title-holder .img{
	float:right;
	width:68px;
}
.catalog-section .title-holder .img img{
    max-width:100%;
    max-height:100%;
}
.catalog-section .title-holder .img img{
    max-width:100%;
    max-height:100%;
}
.catalog-section .title-holder .filters{
	overflow:hidden;
	text-align:right;
	padding:8px 0 0px;
}
.catalog-section .title-holder .filters a{
	color:#757575;
	font-size:18px;
	line-height:22px;
	display:inline-block;
	text-decoration:none;
	padding:0 8px;
	margin-bottom:10px;
}
.catalog-section .title-holder .filters a:hover{
	color:#ff0066;
}
.catalog-section .title-holder .filters a.active{
	color:#ff0066;
}
.catalog-section .title-holder .filters a.active:hover{
	color:#ff0066;
	text-decoration:none;
}
.catalog-list li{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	display:inline-block;
	width:25%;
	letter-spacing:0;
	vertical-align:top;
	padding:0;
	text-align:center;
	position:relative;
	border-left:none;
	border-top:none;
	position:relative;
	z-index:10;
	min-height:330px;
}
.catalog-list li:before{
	position:absolute;
	content:'';
	top:0;
	right:-1px;
	left:0;
	bottom:-1px;
	border:1px solid #e0e0e0;
	z-index:-10;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.catalog-list li:hover{
	border-color:#ff0066;
/*	-webkit-box-shadow: 1px 1px 12px 0 rgba(0,0,1,1);
	box-shadow: 1px 1px 12px 0 rgba(0,0,1,1);*/
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
	z-index:110;
	position:relative;
}
.catalog-list li:hover:before{
	border-color:#ff0066;
}
.catalog-list li .content{
	padding:26px 12px 5px 21px;
	z-index:100;
	position:relative;
	display:block;
	text-decoration:none;
}
.catalog-list li .content > a{
	text-decoration:none;
}
.catalog-list .img{
	text-align:center;
	margin:0 auto 24px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
    height:200px;
}
.catalog-list .img img{
	max-width:100%;
    max-height:100%;
    margin:0 auto;
}
.big .catalog-list .img{
	max-width:160px;
}
.big .catalog-list .img img{
    max-width:100%;
    max-height:100%;
    margin:0 auto;
}
.catalog-list h3{
	color:#212121;
	font-size:14px;
	line-height:16px;
	margin:0 0 15px;
	text-align:left;
}
.catalog-list .old.show{
	opacity:1;
}
.catalog-list .old{
	text-decoration: line-through;
	font-size: 18px;
	line-height: 20px;
	color: #757575;
	display: block;
	margin: 0 0 2px;
	opacity: 0;
	z-index: -1000;
}
.catalog-list .cost{
	font-size: 24px;
	line-height: 26px;
	color: #212121;
	display: block;
	margin: 0 0 3px;
}
.catalog-list span span{
	font-family: 'als_rublregular';
}
.catalog-list em{
	font-size: 11px;
	line-height: 13px;
	display: block;
	color: #ff0066;
	margin: 0 0 12px;
}
.catalog-list .btn{
	font-size: 18px;
	line-height: 20px;
	color: #fff;
	width: 100.5%;
	display: block;
	padding: 14px 20px;
	text-align: center;
	background: #ff0066;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	position: absolute;
	border: 1px solid transparent;
	opacity: 0;
	z-index: -10000;
	left: -9999px;
	top: -9999px;
	-webkit-transition: opacity .4s ease;
	-o-transition: opacity .4s ease;
	transition: opacity .4s ease;
/*	-webkit-box-shadow: 0px 4px 12px 0px rgba(0,0,1,1);
	box-shadow: 0px 4px 12px 0px rgba(0,0,1,1);*/
}
.catalog-list .btn:hover{
	background-color:green;
}
.catalog-list .btn.btn-subscribed:hover {
    cursor: default;
    background-color: #ff0066;
}
.catalog-list li:hover .btn{
	opacity: 1;
	z-index: 10;
	top: 100%;
	left: 0;
}
/*Catalog Page END*/
/*Style PAGE START*/

.main{
	padding:37px 0 0 0;
	font-size:18px;
	line-height:24px;
	color:#212121;
	font-style:normal;
	font-weight:normal;
}
.main h1{
	font-weight:normal;
	font-size:28px;
	line-height:30px;
	text-transform:uppercase;
	margin:0 0 31px;
	color:#212121;
}
.main h2{
	font-size:18px;
	line-height:20px;
	color:#ff0066;
	margin:0 0 26px;
	text-transform:uppercase;
}
.main h3{
	font-size:18px;
	line-height:20px;
	color:#ff0066;
	margin:0 0 20px;
}
.main p{
	margin:0 0 30px;
}
.main i{
	display:block;
	color:#757575;
	margin:0 0 31px;
}
.main ol li{
	color:#757575;
	font-style:italic;
	font-size:18px;
	line-height:24px;
}
.main h4{
	display:block;
	color:#757575;
	margin:0 0 31px;
	font-style:normal;
	font-weight:normal;
}
/*Style PAGE END*/
/*Contacts Page START*/

.contacts-section{
	padding:135px 0 123px 0;
}
.contacts-section h1{
	margin:0 0 30px;
	font-size:28px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:normal;
	font-style:normal;
	color:#212121;
}
.contacts-section .contacts-list{
	padding:0;
	margin:0 -50px 40px;
	list-style:none;
	letter-spacing:-5px;
}
.contacts-section .contacts-list li{
	display:inline-block;
	width:33.3%;
	letter-spacing:0;
	font-size:18px;
	vertical-align:top;
	line-height:24px;
	padding:0 50px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.contacts-section .contacts-list strong{
	color:#ff0066;
	font-weight:500;
	font-style:normal;
	display:block;
    font-size: 18px;
    line-height: 24px;
}
.contacts-section .contacts-list span{
	display:block;
	color:#212121;
	margin:0 0 23px;
}
.contacts-section .contacts-list a{
	display:inline;
	font-size:16px;
	line-height:18px;
	color:#212121;
	text-decoration:none;
	border-bottom:1px solid #212121;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.contacts-section .contacts-list a:hover{
	border:none;
}
.contacts-section .content-holder{
	overflow:hidden;
	position:relative;
	height:516px;
}
.contacts-section .content-holder .map{
	overflow:hidden;
}
.contacts-section .content-holder .map img{
	width:100%;
}
.contacts-section .content-holder .content{
	float:left;
	width:375px;
}
.contacts-section .content-holder strong{
	display:block;
	font-size:18px;
	color:#ff0066;
	margin:0 0 6px;
	font-weight:500;
}
.contacts-section .content-holder span{
	display:block;
	color:#212121;
	font-size:18px;
	line-height:23px;
}
.contacts-section .content-holder .bottom{
	position:absolute;
	bottom:11px;
	left:0;
}
.contacts-section .content-holder a{
	color:#1e88e5;
	font-size:18px;
	line-height:20px;
	text-decoration:none;
	display:inline-block;
	margin:0 0 34px;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.contacts-section .content-holder a:hover{
	text-decoration:underline;
}
#map_yandex{
	height:100%;
}
/*Contacts Page END*/

/*Empty Page START*/

.empty-section{
	padding:55px 0 0 0;
}
.empty-section h2{
	font-size:28px;
	line-height:30px;
	color:#424242;
	margin:0 0 35px;
	font-weight:normal;
	font-style:normal;
}
.empty-section h1{
	border-top:1px solid #e0e0e0;
	border-bottom:1px solid #e0e0e0;
	font-size:34px;
	line-height:36px;
	margin:0 0 40px;
	color:#212121;
	text-align:center;
	font-weight:normal;
	font-style:normal;
	padding:33px 0;
}
.empty-section .btn-holder{
	text-align:center;
}
.empty-section .btn{
	font-size:18px;
	line-height:20px;
	color:#fff;
	padding:15px 49px;
	border:1px solid #fff;
}
.empty-section .btn:hover{
	color:#ff0066;
	background:#fff;
}
/*Empty Page END*/
/*Bassket Page START*/
.bassket-section{
	padding:30px 0 0 0;
}
.bassket-section h1{
	font-size:28px;
	line-height:30px;
	color:#424242;
	margin:0 0 35px;
	font-weight:normal;
	font-style:normal;
}
.basket-form{
	margin:0;
	padding:0;
	background:none;
	border:none;
}
.finally-form .basket-form fieldset,
.basket-form fieldset{
	padding:0 !important;
	margin:0;
	background:none;
	border:none;
	width: 100% !important;
	letter-spacing: normal;
}
.basket-form .row{
	overflow:hidden;
	position:relative;
	border-top:1px solid #e0e0e0;
	padding:23px 0 23px 5px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	margin: 0;
	min-height:135px;
}
.basket-form .row.bd{
	border-bottom:1px solid #e0e0e0;
}
.basket-form .content{
	float:left;
	max-width:330px;
	width:100%;
}
.basket-form .content .img{
	float:left;
	width:75px;
	/*width:100%;*/
	display:block;
	text-align:center;
	text-decoration:none;
	margin:0 25px;
}
.basket-form .content .img img{
	max-width:100%;
	display:block;
	margin:0 auto;
}
.basket-form .content .text{
	overflow:hidden;
	color:#212121;
	font-size:16px;
	line-height:22px;
	text-decoration:none;
	display:block;
}
.basket-form .content .text span{
	display:block;
}
.basket-form .calc-holder{
	float:right;
	width:480px;
}
.basket-form .calc-holder .calc{
	display:inline-block;
	vertical-align:top;
}
.basket-form .count-input{
	position:relative;
	display:inline-block;
	/*margin:0 59px 0 0;*/
	margin:0 35px 0 10px;
}
.basket-form .before-cost,
.basket-form .after-cost{
	font-size:24px;
	line-height:26px;
	color:#bdbdbd;
	display:inline-block;
	text-align:left;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.basket-form .before-cost{
	width:145px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-right:20px;
}
.basket-form .after-cost{
	color:#212121;
}
.basket-form .input{
	display:inline-block;
	border:none;
	background:none;
	width:86px;
	padding:0 3px;
	text-align:center;
	font-size:24px;
	line-height:26px;
	color:#212121;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.basket-form .minus,
.basket-form .plus{
	display:inline-block;
	text-decoration:none;
	font-size:24px;
	line-height:26px;
	color:#bdbdbd;
}
.basket-form .minus:hover,
.basket-form .plus:hover{
	opacity:.6;
}
.basket-form .rub{
	font-family:'als_rublregular';
	text-transform:none;
}
.basket-form .delete{
	width:25px;
	display:inline-block;
	vertical-align:top;
	float:right;
	margin:0 21px 0 0;
	-webkit-transition:all .3s ease;
	-o-transition:all .3s ease;
	transition:all .3s ease;
}
.basket-form .delete:hover{
	opacity:.6;
}
.basket-form .total{
	overflow:hidden;
	padding:23px 23px 0 0;
	margin:0 0 33px;
}
.basket-form .total .inner-holder{
	float:right;
}
.basket-form .total h3{
	display:inline-block;
	color:#212121;
	font-size:34px;
	line-height:36px;
	margin:0 0 0 0;
	text-transform:uppercase;
	font-weight:normal;
	font-style:normal;
}
.basket-form .total i{
	color:#212121;
	font-size:34px;
	line-height:36px;
	display:inline-block;
	font-style:normal;
	font-weight:normal;
	text-transform:uppercase;
	padding:0 0 0 63px;
}
.basket-form .total strong{
	font-weight:normal;
	font-style:normal;
	font-size:34px;
	line-height:36px;
	color:#ff0066;
	display:inline-block;
	text-transform:uppercase;
	padding:0 0 0 75px;
}
.basket-form .btn-holder{
	overflow:hidden;
	margin:0 0 20px;
}
.basket-form .btn-holder .inner-holder{
	float:right;
}
.basket-form .btn-holder .btn-order,
.basket-form .btn-holder .btn{
	display:inline-block;
	font-size:18px;
	line-height:20px;
	padding:14px 58px;
	margin:0 0 10px 16px;
	color:#fff;
	border-radius: 0;
}
.basket-form .btn-holder .btn-order {
	margin: 0;
	padding: 0;
}
.basket-form .btn-holder .btn.red:hover{
	color:#212121;
	background:green;
}
.basket-form .btn-holder .btn.white{
	color:#212121;
	background:#f5f5f5;
}
.basket-form .btn-holder .btn.white:hover{
	background:green;
}
.basket-form .btn-holder .btn.blue{
	background:#455a64;
}
.basket-form .btn-holder .btn.blue:hover{
	color:#212121;
	background:green;
}
.basket-form.kredit .content .text{
	color:#bdbdbd;
}
.basket-form.kredit .delete{
	display:none;
}
.basket-form.kredit .minus,
.basket-form.kredit .plus{
	display:none;
}
.basket-form.kredit .input{
	color:#bdbdbd;
}
.basket-form.kredit .after-cost{
	color:#bdbdbd;
}
.basket-form.kredit .row.bd{
	padding:12px 119px 16px 20px;
	height:auto !important;
}
.basket-form.kredit .bd .img{
	float:left;
	padding:0 29px 0 0px;
}
.basket-form.kredit .bd .img img{
	max-width: 80px;
}
.basket-form.kredit .bd .inner > .text{
	color:#212121;
	font-size:16px;
	line-height:18px;
	display:block;
	float:left;
	padding:6px 0 0 0;
	max-width: 50%;
}
.basket-form.kredit .bd .cost{
	display:block;
	float:right;
	color:#212121;
	font-size:24px;
	line-height:26px;
	padding:3px 0 0 0;
}
.basket-form.kredit .total{
	padding-top:15px;
}
.application-section{
	padding:55px 0 0 0;
}
.application-section strong.title{
	color:#424242;
	font-size:28px;
	line-height:30px;
	margin:0 0 20px;
	display:block;
	border-bottom:1px solid #e0e0e0;
	font-weight:normal;
	font-style:normal;
	padding:0 0 35px 0;
}
.application-section .banks{
	overflow:hidden;
	position:relative;
	padding:0 0 0 0;
	display:table;
	width:100%;
	margin:0 0 20px;
}
.application-section .banks .img{
	display:table-cell;
	vertical-align:middle;
}
.application-section .banks .alfa{
	width:154px;
	padding:0 38px 0 0;
}
.application-section .banks .otp{
	width:162px;
	padding:0 38px 0 0;
}
.application-section .banks .text{
	color:#212121;
	font-size:16px;
	line-height:22px;
	display:table-cell;
	vertical-align:middle;
}
.application-section .banks .text span{
	display:block;
}
.application-form{
	border:none;
	padding:0;
	margin:0;
}
.application-form fieldset{
	display:table;
	border:none;
	padding:0;
	background:none;
	margin:0;
}
.application-form .top-holder{
	display:table;
	padding:19px 20px 0 21px;
	background:#383838;
	margin:0 0 20px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.application-form .top-holder .input-holder{
	display:table-cell;
	width:374px;
	padding:0 88px 0 0;
	position: relative;
}
.application-form .top-holder .row{
	margin:0 0 20px;
}

.application-form .top-holder .input{
	background:#ffffff;
	border:none;
	color:#000;
	font-size:18px;
	line-height:20px;
	height:43px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding:0 11px;
	width:100%;
	border:2px solid transparent;
}
.application-form .top-holder .error .input{
	border-color:#ff0066;
}
.application-form .top-holder .text-holder{
	display:table-cell;
	font-size:16px;
	line-height:22px;
	color:#bdbdbd;
}
.application-form input::-webkit-input-placeholder{color:#bdbdbd;opacity:1;}
.application-form input::-webkit-input-placeholder{color:#bdbdbd;opacity:1;}
.application-form input:-moz-placeholder{color:#bdbdbd;opacity:1;}
.application-form input::-moz-placeholder{color:#bdbdbd;opacity:1;}
.application-form input:focus::-webkit-input-placeholder{color:transparent;}
.application-form input:focus:-moz-placeholder{color:transparent;}
.application-form input:focus:-ms-input-placeholder{color:transparent;}
.application-form input:focus::-moz-placeholder{color:transparent;}

.application-form input[type="checkbox"]{
	display:none;
}
.error-msg{
	display:none;
	font-size: 14px;
	line-height: 24px;
	color: #ff0066;
	text-align:center;
}
.error .error-msg{display:block;}
.application-form .checkboxArea{
	width:16px;
	height:16px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	border:1px solid #757575;
	cursor:pointer;
	position:relative;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.application-form .checkboxArea:after{
	content:'';
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	left:0;
	display:block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:url(../images/checked.png) #757575 50% 50% no-repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	opacity:0;
}
.application-form .checkboxAreaChecked:after{opacity:1;}
.application-form .rights-holder{
	display:table;
	width:100%;
	padding:0 21px 0 20px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.application-form .rights-holder .input-holder{
	display:table-cell;
	vertical-align:top;
	padding:0 10px 0 0;
}
.application-form .rights-holder .text-holder{
	color:#b4b4b4;
	font-size:10px;
	line-height:12px;
	display:table-cell;
	vertical-align:top;
}
/*Bassket Page END*/
/*Card Page START*/


.card-section{
	padding:16px 0 0 0;
}
.card-section .top-holder{
	position:relative;
	margin:0 0 21px;
}
.card-section .top-holder:after{
	content:'';
	display:block;
	clear:both;
}
.card-section .slider{
	display:inline-block;
	vertical-align: top;
	letter-spacing: 0;
	width: 475px;
	margin: 0 37px 0 0;
}
.card-section .slider.slider-active{
    display: inline-block;
}
.card-section .top-holder .gallery{
	position:relative;
}
.card-section .gallery-cover{
	width: 100%;
	overflow: hidden;
	position: relative;
	margin: 0 auto 53px;
	max-width: 363px;
}
.card-section .gallery-cover .gallery-holder{
	width: 9999px;
	overflow: hidden;
	padding: 0;
	margin: 0;
	list-style: none;
}
.card-section .gallery-cover .gallery-holder li{
	float: left;
	width: 363px;
	background:#fff;
}
.card-section .gallery-cover .gallery-holder li img{
	max-width:100%;
	width:100%;
	height:auto;
}
.card-section .slider .switcher-cover{
	position:relative;
}
.card-section .slider .switcher-list{
	padding: 0;
	margin: 0;
	list-style: none;
	letter-spacing: -4px;
	width: 9999px;
	min-height: 93px;
	white-space: nowrap;
	overflow: hidden;
}
.card-section .slider .switcher-list li{
	letter-spacing: 0;
	display: inline-block;
	vertical-align: top;
	padding: 0;
}
.card-section .slider .switcher-list  span{
	cursor: pointer;
	display: inline-block;
	position: relative;
	padding:12px 16px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    width:100px;
    height:100px;
    text-align:center;
}
.card-section .slider .switcher-list  span img {
     max-width: 100%;
     max-height: 100%;
}
.card-section .slider .switcher-list  span:after{
	position: absolute;
	content: '';
	top:0;
	bottom:0;
	left: 0;
	right: 0;
	border:1px solid #f48fb1;
	opacity: 0;
	-webkit-transition: opacity linear .2s;
	-o-transition: opacity linear .2s;
	transition: opacity linear .2s;
}
.card-section .gallery .prev,
.card-section .gallery .next{
	position: absolute;
	top: 50%;
	display: block;
	text-indent: -9999px;
	width: 40px;
	height: 40px;
	margin: -36px 0 0;
	background: rgba(0, 0, 0, .7);
	background-repeat: no-repeat;
	background-position: 50%;
	opacity: 0;
	-webkit-transition: opacity linear .2s;
	-o-transition: opacity linear .2s;
	transition: opacity linear .2s;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	-ms-border-radius:2px;
	border-radius:2px;
}
.card-section .gallery .prev {
	left: 0;
	background-image: url(../images/botton-swipe-small-l.svg);
}
.card-section .slider .switcher-cover .prev,
.card-section .slider .switcher-cover .next {
	width: 36px;
	height: 36px;
	margin: -26px 0 0;
}
.card-section .slider .switcher-cover .prev {
	background-image: url(../images/botton-swipe-small-l.svg);
}
.card-section .gallery .next {
	right: 0;
	background-image: url(../images/botton-swipe-small-r.svg);
}
.card-section .slider .switcher-cover .next {
	background-image: url(../images/botton-swipe-small-r.svg);
}
.card-section .slider .switcher-list li.active span:after,
.card-section .slider .switcher-list li:hover span:after {
	opacity: 1;
}
.card-section .gallery-cover:hover .prev,
.card-section .gallery-cover:hover .next,
.card-section .slider .switcher-cover:hover .prev,
.card-section .slider .switcher-cover:hover .next {
	opacity: .8;
}
.card-section .gallery .prev.disabled,
.card-section .gallery .next.disabled {
	opacity: 0;
}
.card-section .slider .switcher-cover .prev.disabled,
.card-section .slider .switcher-cover .next.disabled {
	display: none;
}
.card-section .top-holder .info-card{
	display:inline-block;
	position:relative;
	background:#383838;
	width:464px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	vertical-align:top;
	margin:-21px 0 0 0;
	padding:65px 19px 0 19px;
	font-size:18px;
	line-height:24px;
	color:#757575;
}
.card-section .top-holder .info-card.step{
	display:none;
}
.card-section .top-holder .info-card.step.active{
	display:inline-block;
}
.card-section .top-holder .info-card h1{
	margin:0 0 75px 0;
	color:#ffffff;
	font-size:28px;
	line-height:33px;
	font-weight:normal;
	font-style:normal;
}
.card-section .top-holder .info-card.step2 h1{
}
.card-section .top-holder .info-card.kredit h1{
	margin:0 0 15px;
}
.card-section .top-holder .info-card.kredit p{
	margin:0 0 0px;
	line-height:20px;
}
.card-section .top-holder .info-card.kredit .card-form{
	padding:26px 0 0 0;
}
.card-section .top-holder .info-card.kredit .card-form .input-holder .btn{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	background:none;
	color:#757575;
	border:1px solid #757575;
	padding:8px 17px;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.card-section .top-holder .info-card.kredit .card-form .input-holder .btn:hover{
	color:#fff;
	border-color:#fff;
}
.card-section .top-holder .info-card .close{
	width:25px;
	position:absolute;
	top:17px;
	right:19px;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.card-section .top-holder .info-card .close:hover{
	opacity:.5;
}
.card-section .top-holder .info-card strong{
	color:#ff0066;
	font-size:28px;
	line-height:30px;
	font-style:normal;
	font-weight:normal;
	display:block;
	margin:0 0 15px;
}
.card-section .top-holder .info-card p{
	margin:0 0 22px;
}
.card-form{
	padding:0;
	margin:0;
	border:none;
	background:none;
}
.card-form fieldset{
	background:none;
	border:none;
	margin:0;
	padding:0;
}
.card-form .row{
	overflow:hidden;
	margin:0 0 58px;
}
.card-form .cost{
	text-transform:uppercase;
	float:left;
	display:block;
	font-size:45px;
	line-height:36px;
	color:#fff;
	margin:0 20px 0 0;
	font-weight:normal;
	font-style:normal;
	font-family:'Roboto';
}
.card-form .rub{
	font-family:'als_rublregular';
}
.card-form .input-holder{
	overflow:hidden;
}
.card-form .input-holder .number{
	width:100%;
	font-size:23px;
	line-height:25px;
	color:#383838;
	border:none;
	background:#fff;
	height:38px;
	padding:0 10px;
	border:1px solid transparent;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
.card-form .input-holder .number.error{
	border-color:red;
}
.card-form input::-webkit-input-placeholder{color:#dbdbdb;opacity:1;}
.card-form input::-webkit-input-placeholder{color:#dbdbdb;opacity:1;}
.card-form input:-moz-placeholder{color:#dbdbdb;opacity:1;}
.card-form input::-moz-placeholder{color:#dbdbdb;opacity:1;}
.card-form input:focus::-webkit-input-placeholder{color:transparent;}
.card-form input:focus:-moz-placeholder{color:transparent;}
.card-form input:focus:-ms-input-placeholder{color:transparent;}
.card-form input:focus::-moz-placeholder{color:transparent;}
.card-form .btn-holder{
	text-align:center;
	margin:0 0 35px;
}
.card-form .btn-holder .btn{
	padding:14px 20px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family:'Roboto';
}
.card-form .btn-holder .btn:hover{
	background:green;
}
.card-section .top-holder .info-card.general .btn-basket .btn{
	padding:14px 20px;
	width:100%;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	font-family:'Roboto';
}
.card-section .top-holder .info-card.general .btn-basket .btn:hover{
	background:green;
}
.card-form .link-holder{
	text-align:center;
	margin:0 0 62px;
}
.card-form .link{
	display:inline;
	text-decoration:none;
	color:#757575;
	font-size:18px;
	line-height:20px;
	text-align:center;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	position:relative;
}
.card-form .link:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: url(../images/bdbb.jpg) #fff repeat;
}
.card-form .link:hover{
	color:#fff;
}
.card-section .about-product{
	background:#fafafa;
	position:relative;
	overflow:hidden;
	padding:6px 18px;
}
.card-section .about-product .title{
	color:#424242;
	font-size:18px;
	line-height:24px;
	display:inline-block;
	position:relative;
	padding:0 18px 0 0;
	cursor:pointer;
}
.card-section .about-product .title:after{
	content:'';
	position:absolute;
	top:50%;
	margin-top:-4px;
	right:0;
	background:url(../images/img7.png) no-repeat;
	width:11px;
	height:8px;
	-webkit-transition:all .5s ease;
	-o-transition:all .5s ease;
	transition:all .5s ease;
}
.card-section .about-product.open .title:after{
	-moz-transform: rotate(180deg);
	-webkit-transform: ro180te(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.card-section .about-product h2{
	font-size: 18px;
	line-height: 20px;
	color: #ff0066;
	margin: 0 0 26px;
	text-transform: uppercase;
}
.card-section .about-product .text{
	font-size: 18px;
	line-height: 24px;
	color: #212121;
	font-style: normal;
	font-weight: normal;
	padding:30px 0 0 0;
}
.card-section .about-product{
	margin: 0 0 37px;
}
.order-section{
	padding:0 0 0 0;
	position:relative;
}
.order-section h2{
	color:#424242;
	font-size:28px;
	line-height:30px;
	text-transform:uppercase;
	font-weight:normal;
	font-style:normal;
	margin:0 0 15px;
}
.catalog-list .min{
	position:absolute;
	top:10px;
	left:0;
	display:block;
	font-weight:700;
	font-size:12px;
	line-height:14px;
	color:#fff;
	text-transform:uppercase;
	background:#e53935;
	padding:7px 22px;
	z-index:101;
}
.catalog-list .min.green{
	background:#7cb342;
}
.catalog-list .min.pink{
	background:#f48fb1;
}
.catalog-list .min.yellow{
	background:#ff8f00;
}
.catalog-list .min.purple{
    background:#ce93d8;
}
.order-section .catalog-list{
	margin-bottom:40px;
}
.order-section .btn-holder{
	text-align:center;
	margin:0 0 71px;
}
.order-section .btn-holder .more{
	font-size:18px;
	line-height:20px;
	border:1px solid #424242;
	color:#424242;
	background:none;
	text-decoration:none;
	display:inline-block;
	padding:5px 15px;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.order-section .btn-holder .more:hover{
	border-color:#ff0066;
	color:#ff0066;
}
.card-section .top-holder .info-card.general{
	padding-top:20px;
	background:none;
}
.card-section .top-holder .info-card.general h1{
	color:#212121;
	margin:0 0 12px 0;
}
.card-section .info-card.general .head{
	overflow:hidden;
	margin:0 0 14px;
}
.card-section .top-holder .stock{
	text-transform:uppercase;
	background:#ce93d8;
	color:#fff;
	padding:3px 64px 3px 18px;
	font-size:12px;
	display:block;
	float:left;
	font-weight:700;
}
.card-section .top-holder .stock.blue{
	background: #1565c0;
}
.card-section .top-holder .stock.green{
	background: #7cb342;
}
.card-section .top-holder .stock.red{
	background: #e53935;
}
.card-section .top-holder .stock.yellow{
	background: #ff8f00;
}
.card-section .top-holder .stock.pink{
	background: #f48fb1;
}

.card-section .info-card.general .article{
	color:#757575;
	font-size:14px;
	line-height:16px;
	display:block;
	float:right;
}
.card-section .info-card.general .buy{
	color:#ce93d8;
	font-size:14px;
	line-height:16px;
	display:block;
	margin:0 0 17px;
}
.card-section .info-card.general .buy.blue{
	color:#1565c0;
}
.card-section .info-card.general .inner-list{
	padding:0;
	margin:0 -18px 32px;
	list-style:none;
}
.card-section .info-card.general .inner-list li{
	display:inline-block;
	font-size:14px;
	line-height:16px;
	padding:0 18px;
}
.card-section .info-card.general .inner-list .title{
	text-transform:uppercase;
	color:#212121;
	display:block;
}
.card-section .info-card.general .inner-list .text{
	color:#ff0066;
	display:block;
}
.card-section .info-card.general .inner-list .text.black{
	color:#455a64;
}
.card-section .info-card.general .color-list{
	padding:0;
	margin:0 -8px 35px;
	list-style:none;
}
.card-section .info-card.general .color-list li{
	display:inline-block;
	vertical-align:middle;
	padding:0 8px;
}
.card-section .info-card.general .color-list a{
	text-decoration:none;
	text-indent:-9999px;
	width:34px;
	height:34px;
	display:block;
	background:#dbdcdd;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	position:relative;
}
.card-section .info-card.general .color-list a:after{
	content:'';
	position:absolute;
	top:1px;
	left:1px;
	right:1px;
	bottom:1px;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	border-radius:50%;
	border:3px solid #fff;
	opacity:0;
}
.card-section .info-card.general .color-list .active a{
	width:42px;
	height:42px;
}
.card-section .info-card.general .color-list .active a:after{opacity:1;}
.card-section .info-card.general .color-list .brown a{
	background:#e6cfb6;
}
.card-section .info-card.general .color-list .pink a{
	background:#e6bdb7;
}
.card-section .info-card.general .color-list .gray a{
	background:#94959a;
}
.card-section .info-card.general .price-holder{
	overflow:hidden;
	margin:0 0 9px;
}
.card-section .info-card.general .price-holder .cost{
	text-transform:uppercase;
	color:#212121;
	vertical-align:bottom;
	cursor:pointer;
	font-weight: normal;
	font-style: normal;
	float: left;
	display: block;
	font-size: 45px;
	line-height: 36px;
	font-family:'Roboto';
}
.card-section .info-card.general .price-holder .old{
	display:inline-block;
	color:#757575;
	font-size:28px;
	line-height:40px;
	text-decoration:line-through;
	padding:0 0 0 18px;
	vertical-align:bottom;
}
.card-section .top-holder .info-card.general p a{
	color:#1e88e5;
	display:inline;
	text-decoration:none;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	position:relative;
}
.card-section .top-holder .info-card.general p a:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: url(../images/bdb.jpg) #fff repeat;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.card-section .top-holder .info-card.general p a:hover:after{
	opacity:0;
}

.card-section .top-holder .info-card.general .btn-basket{
	text-align:center;
	margin:0 0 15px;
}
.card-section .top-holder .info-card.general .link-holder{
	text-align:center;
	margin:0 0 33px;
}
.card-section .top-holder .info-card.general .link-holder .link{
	text-decoration:none;
	color:#ff0066;
	font-size:18px;
	line-height:20px;
	display:inline;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	position:relative;
}
.card-section .top-holder .info-card.general .link-holder .link:after{
	content: '';
	position: absolute;
	bottom: -1px;
	left: 0;
	right: 0;
	width: 100%;
	height: 2px;
	background: url(../images/bdp.jpg) #fff repeat;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.card-section .top-holder .info-card.general .link-holder .link:hover:after{
	opacity:0;
}
.card-section .top-holder .info-card.general .info-holder{
	text-align:center;
}
.card-section .top-holder .info-card.general .info-holder span{
	display:block;
	text-align:center;
	font-size:14px;
	line-height:16px;
	color:#424242;
	margin:0 0 8px;
}
.card-section .top-holder .info-card.general .card-form .cost {
	color:#212121;
}
.card-section .top-holder .info-card.general .card-form .input-holder .number{
	background:#f5f5f5;
}
.card-section .top-holder .info-card.general .btn-holder .btn{
	background:#455a64;
	border-color:#455a64;
}
.card-section .top-holder .info-card.general .btn-holder .btn:hover{
	color:#455a64;
	background:none;
}
.card-section .top-holder .info-card.general .card-form .title{
	font-size:18px;
	line-height:20px;
	color:#757575;
	display:block;
	margin:0 0 20px;
}
.card-section .top-holder .info-card.accept{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding-top:210px;
	min-height:643px;
}
.card-section .top-holder .info-card.accept .link-holder{
	position:absolute;
	bottom:30px;
	left:0;
	right:0;
	text-align:center;
}
.card-section .top-holder .info-card.accept .link-holder .link{
	display: inline;
	text-decoration: none;
	color: #757575;
	font-size: 18px;
	line-height: 20px;
	text-align: center;
	border-bottom: 3px dotted #757575;
	-webkit-transition: all .4s ease;
	-o-transition: all .4s ease;
	transition: all .4s ease;
}
.card-section .top-holder .info-card.accept .link-holder .link:hover{
	color:#fff;
}
/*Card Page END*/
/*Trash_order Page START*/

.finally-section{
	padding:55px 0 0 0;
	position:relative;
}
.finally-section .title-holder{
	overflow:hidden;
	margin:0 0 31px;
}
.finally-section .title-holder .title{
	color:#424242;
	font-size:28px;
	line-height:30px;
	display:block;
	float:left;
	font-weight:normal;
	font-style:normal;
}
.finally-section .title-holder a{
	float:right;
	display:block;
	color:#757575;
	font-size:14px;
	line-height:16px;
	text-decoration:underline;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	vertical-align:bottom;
	padding:13px 0 0 0;
}
.finally-section .title-holder a:hover{
	text-decoration:none;
}
.finally-form{
	border:none;
	background:none;
	padding:0;
	margin:0;
	letter-spacing:-5px;
}
.finally-form fieldset{
	margin:0;
	padding:15px 17px 105px 20px;
	border:none;
	width:33.3%;
	display:inline-block;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	min-height:622px;
	position:relative;
	vertical-align:top;
	letter-spacing:0;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.finally-form fieldset *{
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
}
.finally-form h2{
	margin:0 0 26px;
	color:#e0e0e0;
	font-size:28px;
	line-height:30px;
	font-weight:normal;
	font-style:normal;
}
.finally-form .input{
	background:#fff;
	border:2px solid #fff;
	height:43px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	color:#383838;
	font-size:18px;
	line-height:20px;
	width:100%;
	padding:0 10px;
}
.finally-form .finished .input{
	color:#e0e0e0;
}
.finally-form .error .input{
	border-color:#ff0066!important;
}
.application-form .error-text,
.finally-form .error-text{
	display:block;
	font-size:14px;
	line-height:24px;
	color:#ff0066;
	position:absolute;
	top:350px;
	left:0;
	right:0;
	text-align:center;

	margin:0 auto;
	opacity:1;
}
.application-form .error-text{
	opacity:1;
	margin: 0 80px 0 0;
	bottom: 0;
	top: inherit;
}
.application-form .top-holder{
	padding-bottom: 20px;
}
.finally-form .error .error-text{
	opacity:1;
	max-width:255px;
}
.finally-form .row{
	margin:0 0 20px;
}
.finally-form  .btn-holder{
	text-align:center;
	position:absolute;
	bottom:40px;
	left:0;
	right:0;
}
.finally-form .btn-holder .btn{
	padding:14px 35px;
	background:none;
	color:#e0e0e0;
	border:1px solid #e0e0e0;
	border-radius: 0;
}
.finally-form input[type="radio"]{
	position:absolute;
	opacity:0;
}
.finally-form .radio > span{
	display:block;
	background: #fff;
	border: 2px solid #e0e0e0;
	min-height: 43px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #bdbdbd;
	font-size: 18px;
	line-height: 39px;
	text-align:center;
	width: 100%;
	padding: 0 10px;
	cursor:pointer;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	font-weight:400;
}
.finally-form .radio > span i {
	line-height: normal;
}
.finally-form input[type="radio"]:checked + span{
	background:#ff0066;
	border-color:#ff0066;
	color:#fff;
}
.finally-form .finished input[type="radio"]:checked + span{
	background:#bdbdbd;
	border-color:transparent;
}
.finally-form .finished .radio > span{
	background-color:#e0e0e0;
	border-color:#bdbdbd;
}

.application-section .bassket-section .old_price,
.finally-section .bassket-section .old_price {
	color: #b8b8b8;
	text-decoration: line-through;
	font-size: 13px;
	position: absolute;
}
.bx-basket-item-list-item-price-old {
	font-size: 13px;
}



.finally-form .radio,
.finally-form .radio {
	margin: 0;
	padding: 0;
}
.finally-form input[type="checkbox"]{
	position:absolute;
	opacity:0;
}
.finally-form .radio > span{
	display:block;
	background: #fff;
	border: 2px solid #e0e0e0;
	min-height: 43px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #bdbdbd;
	font-size: 18px;
	line-height: 39px;
	text-align:center;
	width: 100%;
	padding: 0 10px;
	cursor:pointer;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	font-weight:400;
}
.finally-form input[type="checkbox"]:checked ~ span{
	background:#ff0066;
	border-color:#ff0066;
	color:#fff;
}

.finally-form .finished input[type="checkbox"]:checked ~ span{
	background:#bdbdbd;
	border-color:transparent;
}
.finally-form .finished .radio > span{
	background-color:#e0e0e0;
	border-color:#bdbdbd;
}
.finally-form .dirty input[type="checkbox"]:checked ~ span{
	background:#bdbdbd;
	border:2px solid #e0e0e0;
	color: #bdbdbd;
	background: transparent;
}
.finally-form .dirty .tab-body {
	display: none;
}

.row.bx-soa-pp-company-selected .radio > span {
	background:#5a5a5a !important;
	border-color:#ff0066 !important;
	color:#fff !important;
}




.finally-form .info-holder{
	text-align:center;
	display:block;
	color:#bdbdbd;
	font-size:14px;
	line-height:24px;
	padding:9px 0 0;
}
.finally-form .info-holder span{
	display:block;
	margin:0 0 4px;
}
.finally-form .info-holder span.addres{
	font-size:18px;
	line-height:20px;
}
.finally-form .info-holder a{
	font-size:14px;
	line-height:16px;
	color:#bdbdbd;
	-webkit-transition:all .4s ease;
	-o-transition:all .4s ease;
	transition:all .4s ease;
	display:inline-block;
	margin:0 0 28px;
}
.finally-form .info-holder a:hover{
	text-decoration:none;
}
.finally-form fieldset.active{
	background:#383838;
}
.finally-form .active .input{
	border-color:transparent;
}
.finally-form .active .btn-holder .btn{
	color:#fff;
	background:#ff0066;
	border-color:transparent;
	border-radius: 0;
}
.finally-form .active .btn-holder .btn:hover{
	color:#ff0066;
	background:none;
}
.finally-form .finished{
	background:#e0e0e0;
	opacity:0.6;
}
.finally-form .finished h2{
	color:#ffffff;
}
.finally-form .finished .btn-holder .btn{
	color:#757575;
	border-color:#757575;
	background:none;
}
.finally-form .active .radio > span{
	color:#757575;
	border-color:#757575;
	background:none;
}
.finally-form fieldset:after{
	content:'';
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	opacity:0;
}
.finally-form .radios.disabled{position:relative;}
.finally-form .radios.disabled:after{
	position:absolute;
	content:'';
	top:0;
	left:0;
	right:0;
	bottom:0;
}
.finally-form fieldset.active:after{
	display:none;
}
/*Trash_order Page END*/
.breadcrumb-section{
	padding:20px 0 0 0;
}
.breadcrumb{
	padding:0 !important;
	margin:0 -7px 10px !important;
	list-style:none;
	letter-spacing:-4px;
	background-color: transparent !important;
	/* border-radius: 4px; */
}
.breadcrumb li{
	display:inline-block;
	vertical-align:top;
	letter-spacing:0;
	padding:0 7px;
	position:relative;
	font-size:12px;
	line-height:12px;
	color:#bdbdbd;
	vertical-align:top;
}
.breadcrumb li:after{
	position:absolute;
	content:'>';
	top:0px;
	right:-5px;
	font-size:10px;
	line-height:12px;
	color:#e0e0e0;;
}
.breadcrumb li:last-child:after{display:none;}
.breadcrumb a{
	text-decoration:none;
	-webkit-transition:color .2s ease;
	-o-transition:color .2s ease;
	transition:color .2s ease;
	color:#e0e0e0;
	font-size:12px;
	line-height:12px;
}
.breadcrumb a:hover{color:#424242;}
a.mob-btn {
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	padding: 0;
	height: 35px;
	width: 40px;
	position: absolute;
	top: 9px;
	left: 10px;
	z-index: 600;
	display:none;
	z-index: 100;
}
.mob-btn span {
	display: block;
	position: relative;
	width: 100%;
	height: 4px;
	background: #fff;
	margin: 12px auto 0;
}
.mob-btn span:before, .mob-btn span:after {
	content: '';
	position: absolute;
	width: 100%;
	background: #fff;
	height: 4px;
	top: -10px;
	left: 0;
	-webkit-transition: all 100ms linear;
	-moz-transition: all 100ms linear;
	-ms-transition: all 100ms linear;
	-o-transition: all 100ms linear;
	transition: all 100ms linear;
}
.mob-btn span:before {
	top: 10px;
}
.header.catalog-open .mob-btn span{
	background:none;
}
.header.catalog-open .mob-btn span:before{
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	margin: -10px 0 0;
}
.header.catalog-open .mob-btn span:after{
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin: 10px 0 0;
}
.tab{
	position:absolute;
	top:-9999px;
	left:-9999px;
	right:9999px;
	bottom:9999px;
	opacity:0;
	width:100%;
	max-width:980px;
	-webkit-transition:all 0s ease .3s, opacity .3s ease;
	-o-transition:all 0s ease .3s, opacity .3s ease;
	transition:all 0s ease .3s, opacity .3s ease;
}
.tab.active{
	position:static;
	top:auto;
	left:auto;
	right:auto;
	bottom:auto;
	opacity:1;
	-webkit-transition:opacity .3s ease;
	-o-transition:opacity .3s ease;
	transition:opacity .3s ease;
}

/*06.12.2016 update start*/
.banner-section{
    text-align:center;
    margin:0 0 36px;
}
.banner-section .banner a{
    display:inline-block;
    text-decoration:none;
}
.banner-section .banner img{
    max-width:100%;
}
.service-section{
    color:#212121;
    font-size:18px;
    line-height:24px;
}
.service-section p{
    margin:0 0 24px;
}
.service-section h2{
    font-size:28px;
    line-height:30px;
    margin:0 50px 57px 0;
    color:#424242;
    text-align:center;
}
.service-section .main h2{
    font-size: 18px;
    line-height: 20px;
    color: #ff0066;
    margin: 0 0 26px;
    text-transform: uppercase;
    text-align:left;
}
.service-section .main p{
    margin:0 0 72px;
}
.service-section .main{
    padding-top:0;
}
.service-section .main h1{
    text-transform:none;
}
.service-list{
    padding:0;
    margin:0 0 13px;
    list-style:none;
    letter-spacing:-5px;
}
.service-list li{
    display:inline-block;
    width:25%;
    letter-spacing:0;
    padding:0 21px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    vertical-align:top;
    margin:0 0 58px;
}
.service-list img{
    max-width:100%;
    max-height:100%;
    display:inline-block;
    vertical-align:bottom;
}
.service-list a{
    display:block;
    text-align:center;
    color:#424242;
    font-size:18px;
    line-height:20px;
    text-decoration:none;
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease;
}
.service-list a:hover{
    color:#ff0066;
}
.service-list span{
    display:block;
}
.service-list .img{
    text-align:center;
    height:160px;
    line-height:160px;
    margin:0 0 42px;
}
.service-section .text-list{
    padding:0;
    margin:0 0 24px;
    list-style:none;
    text-transform:uppercase;
}
.service-section .text-list li{
    position:relative;
    margin:0 0 5px;
}
.service-section .text-list li:before{
    content:'.';
    display:inline-block;
    padding:0 26px 0 0;
    margin:-12px 0 0 0;
    font-size:39px;
    color:#212121;
    vertical-align:top;
}
.service-section .bottom-list{
    padding:45px 0 0;
    margin:0 -59px 32px;
    list-style:none;
    letter-spacing:-5px;
    max-width:980px;
}
.service-section .bottom-list li{
    width:50%;
    display:inline-block;
    vertical-align:top;
    letter-spacing:0;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    color:#212121;
    font-size:18px;
    line-height:20px;
    padding:0 59px;
    line-height:25px;
}
.service-section .bottom-list span{
    display:block;
}
.service-section .bottom-list h3{
    color:#424242;
    font-size:28px;
    line-height:30px;
    margin:0 0 16px;
}
.service-section .discount-holder{
    text-align:center;
    min-height:50px;
    line-height:45px;
    background:url(../images/img21.jpg) #ff0066 no-repeat;
    background-position:100% 50%;
    padding:0 23px 0 0;
    margin:0 0 32px;
}
.service-section .discount-holder span{
    display:inline-block;
    vertical-align:middle;
    color:#ffffff;
    font-size:18px;
    line-height:24px;
}
.service-section .discount-holder span em{
    font-size:28px;
    text-transform:uppercase;
    display:inline-block;
    vertical-align:middle;
    padding:0 15px 0 0;
}
.service-section .title-box {
    overflow:hidden;
    margin:0 0 7px;
}
.service-section .title-box h2{
    text-align:left;
    float:left;
}
.service-section .title-box .filters{
    float:right;
    max-width:470px;
    padding:7px 0 0;
    text-align:left;
}
.service-section .title-box .filters .link{
    display:inline-block;
    vertical-align:top;
    text-align:left;
}
.service-section .title-box .filters a{
    font-size: 18px;
    line-height: 22px;
    text-decoration: none;
    padding: 0 6px;
    margin-bottom: 13px;
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease;
    display:block;
}
.service-section .title-box .filters a.active,
.service-section .title-box .filters a:hover{
    color: #ff0066;
}
.service-section .content-box h2{
    text-align:left;
    margin:0 0 30px;
}
.service-section .content-box h3{
    color:#bdbdbd;
    font-size:28px;
    line-height:30px;
    margin:0 0 15px;
}
.service-section .content-box .tab-control{
    padding:0;
    margin:0 -7px 15px;
    list-style:none;
}
.service-section .content-box .tab-control li{
    display:inline-block;
    padding:0 7px;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    margin-bottom:20px;
}
.service-section .content-box .tab-control a{
    color:#757575;
    font-size:18px;
    line-height:29px;
    border:2px solid #bdbdbd;
    text-align:center;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -ms-border-radius:5px;
    border-radius:5px;
    text-decoration:none;
    min-height:34px;
    min-width:72px;
    display:block;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    background:#fff;
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease;
}
.service-section .content-box .tab-control .active a{
    color:#fff;
    background:#ff0066;
    border-color:#ff0066;
}
.service-section .function-list{
    padding:0;
    margin:0 -20px;
    list-style:none;
    letter-spacing:-5px;
}
.service-section .function-list li{
    letter-spacing:0;
    display:inline-block;
    width:33.3%;
    vertical-align:top;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    padding:0 20px;
    margin:0 0 31px;
}
.service-section .function-list .title{
    color:#212121;
    display:block;
    font-size:18px;
    line-height:20px;
    margin:0 0 1px;
}
.service-section .function-list strong{
    font-size:24px;
    line-height:28px;
    display:inline-block;
    padding:0 5px 0 0;
}
.service-section .function-list .old{
    color:#757575;
    font-size:18px;
    line-height:20px;
    text-decoration:line-through;
}
/*06.12.2016 update end*/

@media only screen and (max-width:1040px){
	.card-section .top-holder .info-card.accept{
		padding-top:10px;
		text-align:center;
	}
	.card-section .top-holder .info-card.accept p{
		padding-bottom:100px;
	}
	#nav > ul > li.has-drop:after{
		display:none;
	}
	#nav li:hover > .drop, #nav li.open > .drop{
		white-space:normal;
		padding:0 0 300px;
		margin:0 0;
		z-index:100;
	}
    #nav .has-drop .drop{
        width:auto;
    }
    #nav ul .drop > .menu-holder{
		letter-spacing:-5px;
		padding-left:15px;
		padding-right:5px;
	}
    #nav ul .drop > .menu-holder .float-holder{
		width:25%;
		display:inline-block;
		letter-spacing:0;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
	#nav > ul > li.has-drop:hover,
	#nav > ul > li.has-drop.open{
		position:static;
	}
	.header .container{
		padding:0;
	}
	#nav > ul > li.has-drop:hover:before,
	#nav > ul > li.has-drop.open:before{
		right: 50%;
		margin-right: 381px;
	}
	#nav > ul > li.has-drop:before, #nav > ul > li.has-drop2:before{
		-webkit-transition:none;
		-o-transition:none;
		transition:none;
	}
	#nav ul .has-drop2{
		position:static;
	}
	#nav ul .has-drop2 .drop{
		white-space:nowrap;
	}
	#nav ul .has-drop2 .drop ul li{
		display:block;
		width:100%;
	}
	#nav > ul > li.has-drop2:before{
		display:none;
	}
	.card-section .slider{
		display:block;
		width:100%;
		text-align:center;
		margin-bottom:50px;
	}
	.card-section .switcher{
		text-align:center;
		margin:0 auto;
	}
	.card-section .slider .switcher-list{
		width:100%;
		margin:0 auto;
		text-align:center;
	}
	.card-section .top-holder .info-card{
		display:block;
		width:104%;
		margin-left:-10px;
		margin-right:-10px;
	}
	.footer-list .column-list li.title{
		display:inline-block;
	}
	.footer-list .column-list li{
		display:none;
	}
	.footer-list .column-list.open li{
		display:block;
	}
	.footer-list .column-list.open li.title{
		display:inline-block;
	}
	.footer-list{
		letter-spacing:-6px;
		padding:0;
	}
    .footer-list > .float-holder{
		letter-spacing:0;
		display:inline-block;
		width:50%;
		vertical-align:top;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
@media only screen and (max-width:1020px){
	.finally-form{
		text-align:center;
	}
	.finally-form fieldset{
		width:50%;
		text-align:left;
		margin-bottom:20px;
	}
	.bxslider li>img{
		width:100%;
	}
}
@media only screen and (max-width:1010px){
	.contacts-section .content-holder .content{
		width:270px;
	}
}
@media only screen and (max-width:1000px){
	.application-section .banks .alfa{
		padding-right:15px;
	}
	.application-section .banks .otp{
		padding-right:15px;
	}
	.application-form .top-holder .input-holder{
		padding-right:15px;
		padding-bottom: 3px;
	}
	.application-form .error-text {
		margin:  0 auto;
	}
}
@media only screen and (max-width:990px){
	#nav > ul > li.has-drop:hover:before,
	#nav > ul > li.has-drop.open:before{
		right: auto;
		left:94px;
		margin-right: 0;
	}
}
@media only screen and (max-width:950px){
	.day-section .img-holder{
		padding-right:0;
		width:450px;
	}
	.header .contacts-list{
		display:block;
		float:none;
		text-align:left;
	}
	.header .phone-link{
		display:inline-block;
		text-align:center;
		float:none;
	}
	.header .bottom-content{
		text-align:center;
	}
}
@media only screen and (max-width:930px){
	.basket-form .btn-holder .inner-holder{
		float:none;
		text-align:center;
	}
}
@media only screen and (max-width:900px){
	.contacts-section .contacts-list{
		margin:0 -10px;
	}
	.contacts-section .contacts-list li{
		width:50%;
		margin-bottom:30px;
		padding:0 10px;
	}
    /*06.12.2016 update start*/
    .service-section .bottom-list{
        margin-left:-20px;
        margin-right:-20px;
    }
    .service-section .bottom-list li{
        padding:0 20px;
    }
    /*06.12.2016 update end*/
}
@media only screen and (max-width:860px){
	.catalog-list li{
		width:33.3%;
		margin-bottom:10px;
	}
	.catalog-list{
		text-align:center;
	}
	.basket-form .content{
		float:none;
		display:block;
		width:100%;
		/*margin-bottom:20px;*/
		max-width:100%;
	}
	.basket-form .calc-holder{
		float:none;
		width:100%;
		padding-top:20px;
		clear: both;
	}
	.basket-form .row{
		padding-bottom:23px;
		margin: 0;
	}
}
@media only screen and (max-width:840px){
	.day-section .img-holder{
		float:none;
		max-width:100%;
		margin:0 auto 20px;
		text-align:center;
	}
	.day-section .content{
		overflow:visible;
		text-align:center;
	}
	.day-section .content .inner{
		text-align:center;
	}
	.day-section .content .inner span{
		text-align:center;
		float:none;
	}
	.bxslider .content-holder h3{
		margin-bottom:10px;
	}
}
@media only screen and (max-width:800px){
    /*06.12.2016 update start*/
    .service-list li{
        width:33.3%;
    }
    .service-section .title-box h2{
        float:none;
        display:block;
        text-align:center;
        margin-right:0;
        margin-bottom:20px;
    }
    .service-section .title-box .filters{
        float:none;
        max-width:100%;
    }
    .service-section .content-box h2{
        text-align:center;
    }
    .service-section .content-box h3{
        text-align:center;
    }
    .service-section .function-list li{
        width:50%;
    }
    /*06.12.2016 update end*/
	.contacts-section .content-holder .content{
		float:none;
		position:relative;
		text-align:center;
		width:100%;
		margin-bottom:20px;
	}
	.contacts-section .content-holder .bottom{
		position:static;
	}
	.contacts-section .content-holder{
		height:620px;
	}
	.contacts-section{
		padding-bottom:20px;
	}
	.day-section h2{
		font-size:23px;
		padding-left:0;
	}
	.catalog-section .title-holder h2{
		float:none;
		display:block;
	}
	.catalog-section .title-holder .filters{
		text-align:left;
	}
	.header .phone-link{
		float:none;
		display:inline-block;
	}
	.header .bottom-content{
		text-align:center;
	}
}
@media only screen and (max-width:770px){
	.copyright{
		display:block;
		text-align:center;
		margin-bottom:20px;
	}
	.footer-bottom .inner-holder{
		float:none;
		width:100%;
		text-align:center;
		margin:0 auto;
	}
	.card-section .top-holder .info-card.general h1{
		font-size:20px;
		line-height:24px;
	}
	.basket-form.kredit .bd .inner > .text{
		max-width: 100%;
	}
}
@media only screen and (max-width:760px){
	.catalog-section .title-holder .filters{
		overflow:visible;
		text-align:left;
	}
}
@media only screen and (max-width:740px){
	.header .contacts-list li{
		margin-bottom:20px;
	}
}
@media only screen and (max-width:720px){
	#nav{
		float:none;
		max-width:100%;
		text-align:center;
	}
    #nav ul .drop > .menu-holder .float-holder{
		text-align:left;
	}
	.header .inner-holder{
		float:none;
		display:block;
		text-align:center;
	}
	.header .basket .much{
		left: 57%;
		top: 53px;
	}
	#nav > ul > li.has-drop:hover:before,
	#nav > ul > li.has-drop.open:before{
		right: 50%;
		left:auto;
		margin-right: 146px;
		margin-top:-32px;
	}
    /*06.12.2016 update start*/
    .service-section .bottom-list li{
        width:100%;
        margin-bottom:20px;
    }
    /*06.12.2016 update end*/
}
@media only screen and (max-width:700px){
	#nav > ul > li.has-drop:hover,
	#nav > ul > li.has-drop.open{
		position:relative;
	}
	#nav > ul > li.has-drop:hover:before,
	#nav > ul > li.has-drop.open:before{
		top:18px;
        margin:-2px 0 0 0;
        right:40px;
        left:auto;
    }
    #nav > ul > li.has-drop.open:hover:before{
        top:18p;
        margin:-2px 0 0 0;
		right:40px;
		left:auto;
	}
    #nav ul .drop > .menu-holder .float-holder{
		display:block;
		width:100%;
		text-align:center;
		margin-bottom:15px;
	}
	#nav li.has-drop .drop-list li.title a{
		display:inline-block;
	}
	a.mob-btn{
		display:block;
	}
	#nav > ul{
		position:absolute;
		top:100%;
		left:0;
		background:#424242;
		display:none;
		width:100%;
		text-align:center;
		margin:0;
	}
	#nav > ul > li{
		display:block;
		width:100%;
		position:relative;
	}
	#nav > ul > li.has-drop:before, #nav > ul > li.has-drop2:before{
		right:40px;
	}
	#nav > ul > li >a{
		position:relative;
	}
	#nav > ul > li.has-drop{
		position:relative;
	}
	.catalog-open #nav > ul{
		display:block;
	}
	.header .basket .much{
		left:auto;
		right:25px;
		bottom: 25px;
		top: auto;
	}
	.application-section .banks .img{
		display:block;
		margin-bottom:20px;
	}
	.application-form .top-holder .input-holder{
		display:block;
		width:100%;
	}
	.application-form .top-holder .text-holder{
		display:block;
	}
	.application-form .top-holder{
		padding-bottom:20px;
	}
	.finally-form fieldset{
		width:100%;
		height:auto;
		min-height:auto;
		padding-bottom:200px;
		padding-left:10px;
		padding-right:10px;
		margin-left:-10px;
		margin-right:-10px;
		width:auto;
		display:block;
	}
	.header .header-content{
		padding:0 20px 0 65px;
	}
	.header-form{
		top:50px;
	}
	.header .inner-holder{
		float:right;
	}
	#nav li.has-drop .drop-list li{
		display:none;
	}
	#nav li.has-drop .drop-list li.title{
		display:block;
	}
	#nav li.has-drop .drop-list.open li{
		display:block;
	}
	.catalog-list li{
		position:relative;
	}
	.catalog-list .btn{
		position:static;
		width:100%;
		display:inline-block;
		opacity:1;
		margin:0 auto;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		box-sizing:border-box;
	}
}
@media only screen and (max-width:695px){
	.header .basket-list .cost{
		padding:0 10px 0 20px;
	}
	.header .basket-list li{
		padding-left:5px;
		padding-right:5px;
	}
	.header .basket-list li.total{
		padding-left:10px;
	}
}
@media only screen and (max-width:650px){
	.basket-form.kredit .bd .cost{
		float:none;
		display:block;
		width:100%;
		text-align:center;
	}
	.basket-form.kredit .bd .inner > .text{
		float:none;
		margin-bottom:20px;
		text-align:center;
	}
	.basket-form.kredit .row.bd{
		padding-right:5px;
		padding-left:5px;
		margin: 0;
	}
	.error-section{
		padding-top:10px;
	}
	.day-section{
		padding-top:20px;
	}
	.card-section .top-holder .info-card h1{
		font-size:20px;
		line-height:24px;
	}
	.card-section .top-holder .info-card strong{
		font-size:20px;
		line-height:22px;
	}
	.main{
		font-size:16px;
	}
}
@media only screen and (max-width:600px){
	.catalog-list li{
		width:50%;
	}
	.contacts-section .contacts-list{
		text-align:center;
	}
	.contacts-section .contacts-list li{
		width:100%;
	}
	.container{
		padding:0 10px;
	}
	.contacts-section h1{
		text-align:center;
	}
	.contacts-section{
		padding-top:20px;
	}
	.contacts-section .content-holder{
		height:500px;
	}
	.header .contacts-list{
		display:block;
		float:none;
	}
	.logo{
		display:block;
		float:none;
		margin:0 auto;
	}
	.header .contacts-list{
		text-align:center;
	}
}
@media only screen and (max-width:570px){
	.header .basket-list li.total > span{
		display:block;
		margin-bottom:20px;
	}
	.header .basket-list .img{
		width:50px;
	}
	.bx-basket-item-list-item-name {
		width: auto !important;
	}
	.error-section h1{
		font-size:167px;
		line-height:170px;
	}
	.error-section h2{
		font-size:25px;
		line-height:28px;
	}
}
@media only screen and (max-width:565px){
	#nav > ul{
		letter-spacing:-4px;
	}
	.day-section .img-holder img{
		width:100%;
	}
}
@media only screen and (max-width:550px){
	.header-form .row-btn{
		padding:0;
	}
	.header-form .btn{
		width:0;
	}
	.products-section .title-holder{
		text-align:center;
	}
	.products-section .title-holder a{
		margin-bottom:10px;
		display:inline-block;
	}
	.partners-slider{
		padding-left:20px;
		padding-right:20px;
	}
	.footer-bottom .inner-holder .column{
		display:block;
		margin-bottom:30px;
	}
	.footer{
		padding-bottom:0px;
	}
	.empty-section h1{
		font-size:24px;
		line-height:24px;
	}
}
@media only screen and (max-width:590px){
	.basket-form .before-cost{
		width:105px;
		padding-right:5px;
	}
	.basket-form .input{
		width:31px;
	}
	.basket-form .count-input{
		margin-right:5px;
	}
	.card-form .cost{
		float:none;
		display:block;
		margin-bottom:20px;
	}
}
@media only screen and (max-width:530px){
	.basket-form .total i{
		padding-left:13px;
	}
	.basket-form .total strong{
		padding:0;
	}
	.basket-form .total{
		text-align:center;
		padding-right:0;
		padding-left:0;
	}
	.basket-form .total h3{
		text-align:left;
	}
	.card-section .gallery-cover .gallery-holder li{
		max-width: 280px;
		margin:0 20px 0 0;
	}
	.card-section .gallery-cover{
		max-width:300px;
	}
	.basket-form .btn-holder .btn-order,
	.basket-form .btn-holder .btn{
		/*margin-left:0;
		margin-right:0;*/
		margin: 0 0 10px 0;
		width:100%;
		padding: 15px 0 !important;
	}
}
@media only screen and (max-width:500px){
	.application-section .banks .text{
		display:block;
	}
	.application-section .banks .img{
		text-align:center;
		margin:0 auto 20px;
	}
	.basket-form.kredit .bd .img{
		float:none;
		text-align:center;
	}
	#nav li:hover > .drop{
		opacity:0;
		top:-9999px;
		left:0;
	}
	#nav li.open > .drop {
		opacity: 1!important;
		top: 100%!important;
		left: 0!important;
	}
	.header .bottom-content{
		display:none;
	}
    /*06.12.2016 update start*/
    .service-list li{
        width:50%;
        padding:0 10px;
    }
    .service-section .function-list li{
        width:100%;
    }
    .service-section .main p{margin-bottom:20px;}
    /*06.12.2016 update end*/
}
@media only screen and (max-width:420px){
	.basket-form .calc-holder .calc{
		display:block;
	}
	.basket-form .delete{
		float:none;
		text-align:center;
		margin:0 auto;
		position:absolute;
		top:10px;
		right:10px;
	}
	.basket-form .before-cost, .basket-form .after-cost{
		font-size:22px;
		margin:0 auto 10px;
		text-align:center;
	}
	.basket-form .input{
		font-size:22px;
		margin:0 auto 10px;
		text-align:center;
	}
	.basket-form .content .text span{display:inline-block;}
	.basket-form .calc-holder{
		text-align:center;
	}
	.basket-form .row{
		padding:30px 0px 10px;
	}
	.basket-form .total h3{
		font-size:30px;
	}
	.basket-form .total i{
		font-size:30px;
		padding-left:5px;
	}
	.basket-form .total strong{
		font-size:30px;
	}
}
@media only screen and (max-width:400px){
	.logo{
		float:none;
		text-align:center;
		margin:0 auto 20px;
	}
	.day-section .content h4{
		font-size:31px;
	}
	.catalog-list li{
		width:100%;
	}
}

.slick-slider .slick-track, .slick-slider .slick-list,
.products-section .slick-slider {
	height: auto !important;
}

.text-distinguish {
    font-weight: bold;
    font-size: 20px;
    color: red;
}

.sku-items-block {
    padding: 0;
    margin-bottom: 15px;
}
.sku-items-block li {
    position: relative;
    margin-left: 10px;
    padding-top: 0 !important;
    height: 36px !important;
    width: 36px !important;
    list-style-type: none;
    display: inline-block;
}
.sku-items-block li:first-child {
    margin-left: 0;
}
.sku-items-block li:after {
    content: '';
    display: block;
    position: absolute;
    height: 26px;
    width: 26px;
    top: -1px;
    left: -1px;
    border: 6px solid white;
    border-radius: 100%;
}
.sku-items-block li.bx_active:after {
    top: 2px;
    left: 2px;
    border-width: 3px;
}
.sku-items-block li.bx_missing {
    cursor: not-allowed;
    opacity: .2;
}
.sku-items-block li:hover {
    cursor: pointer;
}
.sku-items-block li .sku-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: block;
    border-radius: 50%;
}

.sku-items-block li:before {
    display: none;
}
/* special for catalog.element */
.card-section .info-card.general .color-list .sku-items-block li {
    height: 42px !important;
    width: 42px !important;
    margin-left: 15px;
    padding: 0;
}
.card-section .info-card.general .color-list .sku-items-block li:first-child {
    margin-left: 0;
}
.info-card .sku-items-block li:after {
    height: 32px;
    width: 32px;
}

.popup-window.popup-window-with-titlebar {
    padding: 0 30px 20px;
}
.popup-window-buttons .bx_bt_button{
    display: inline-block;
    vertical-align: top;
    /*text-decoration: none;*/
    padding: 8px 38px;
    cursor: pointer;
    border: none;
    background: #ff0066;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    font-size: 18px;
    line-height: 20px;
}
.popup-window-buttons .bx_bt_button:hover{
    background: green;
}
.popup-window-buttons .catalog-list {
    font-size: 18px;
    line-height: 20px;
    letter-spacing: normal;
}
.popup-window-buttons .btn-primary {
    margin-right:10px;
}
.moreBtnWrap {
    text-align: center;
    margin-top:25px;
}
.moreBtnWrap .more{
    font-size:18px;
    line-height:20px;
    border:1px solid #424242;
    color:#424242;
    background:none;
    text-decoration:none;
    display:inline-block;
    padding:5px 15px;
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease;
}
.moreBtnWrap .more:hover{
    border-color:#ff0066;
    color:#ff0066;
}

/* CATALOG MODAL */
.popup-window-content-white .popup-window-content{
	background:none;
}
.popup-window{
    background:#383838;
    max-width:464px;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:relative;
}
.popup-window-titlebar-text{
    color:#757575;
    font-size:28px;
    line-height:30px;
    display:block;
    margin:0 0 21px;
    padding:0 26px 0 0;
    font-weight:normal;
}
.popup-window.popup-window-with-titlebar {
    padding: 14px 20px 41px 18px;
}
.popup-window-buttons{
    text-align:center;
}
.popup-window-buttons .bx_bt_button{
    display: inline-block;
    vertical-align: top;
    padding: 15px 38px;
    width:100%;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    cursor: pointer;
    border: none;
    background: #ff0066;
    color: #fff;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-transition: all ease .2s;
    -o-transition: all ease .2s;
    transition: all ease .2s;
    font-size: 18px;
    line-height: 20px;
    text-align:center;
    text-decoration:none;
    margin:0 0 36px;
}
.popup-window-buttons .link{
    display: inline;
    text-decoration: none;
    color: #757575;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    -webkit-transition: all .4s ease;
    -o-transition: all .4s ease;
    transition: all .4s ease;
    position: relative;
    cursor:pointer;
}
.popup-window-buttons .link:hover{
    color:#fff;
}
.popup-window-buttons .link:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: url(../images/bdbb.jpg) #fff repeat;
}
.popup-window p{
    color:#ffffff;
    font-size:28px;
    line-height:30px;
    margin:0 0 35px;
}
.popup-window-buttons .bx_bt_button:hover{
    background: green;
}
.popup-window-close-icon{
    width:22px;
    height:22px;
    opacity:1;
    -webkit-transition:all .4s ease;
    -o-transition:all .4s ease;
    transition:all .4s ease;
    background:url(../images/close-icon.svg) no-repeat;
    text-indent:-9999px;
    -webkit-background-size:cover;
    background-size:cover;
    display:block;
    position:absolute;
    top:19px;
    right:20px;
}
.popup-window-close-icon:hover{
    background:url(../images/close-icon-2.svg) no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
    background-position:0 0;
}
/* CATALOG MODAL */